#bannerIndex{
	position: relative;
	width: 100%;
	padding:25px 0 50px;
}

#bannerIndex .wrapper{
	overflow: visible;
}

.bannerIndexContent{
	width: 100%;
	overflow;
}

.bannerIndexContent img{
	width: 100%;
}



.slick-next, .slick-prev{
	position: absolute;
	top:50%;
	width:50px;
	height: 50px;
	margin-top: -25px;
	transition:.1s;
	border: 0;
	font-size: 0;
	opacity: .5;
}

.slick-next:hover, .slick-prev:hover{
	opacity: 1;
}

.slick-next{
	right:-60px;
	background:url("../images/next.png") center no-repeat;
	background-size: contain;
}

.slick-prev{
	left:-60px;
	background:url("../images/prev.png") center no-repeat;
	background-size: contain;
}

.slick-dots{
	position: absolute;
	bottom: -30px;
	width: 100%;
	text-align: center;
	z-index: 99999999999999999;
}

.slick-dots li{
	display: inline-block;
	margin: 0 3px;
}

.slick-dots li button{
	height: 10px;
	width: 10px;
	background:url("../images/dot_c.png") no-repeat;
	background-size: cover;
	border:0;
	font-size: 0;
}

.slick-dots li.slick-active button{
	background:url("../images/dot_a.png") no-repeat;
	background-size: cover;
}


#content{
	background: url("../images/contentBg.jpg");
	background-size: 50px;
	box-shadow: 0 0 3px rgba(0,0,0,0.25);
	padding: 25px 0;
}

#mitnessSelect .mitnessSelectContent{
	width: calc(100% - 50px);
	padding:25px;
	text-align:center;
	background: #fff;
	border-bottom:#aaa 1px solid;
	border-radius: 5px;
	color: #333;
	margin-bottom: 25px;
}

#mitnessSelect .mitnessSelectContent img{
	width: 100%;
	margin-bottom: 25px;
}

#mitnessSelect .mitnessSelectContent p{
	text-align: justify;
	font-size: 15px;
	line-height: 35px;
	margin-bottom: 25px;
}

.buyBTN{
	display: inline-block;
	line-height: 30px;
	margin-left: 10px;
	padding: 10px 35px;
	color: #fff;
	text-align: center;
	background:#e2854a;
	transition:0.2s;
	font-size: 15px;
	border-radius: 5px;
	border:0;
}

.buyBTN:hover{
	background: red;
}




.insideText{
	border-bottom:#aaa 1px solid;
	padding: 15px 0;
	text-align: center;
}

.insideText:nth-last-child(2), .insideText:last-child{
	border:0;
}

.insideText .textArea{
	width: calc( 100% - 50px);
	margin:0 auto;
	color: #666;
	border-top:#00b1a0 1px solid;
	padding: 10px 25px 0;
	font-size: 15px;
	line-height: 35px;
	text-align: justify;
	background: #fff;
}



@media screen and (min-width: 1200px){

}

@media screen and (min-width: 768px) and (max-width: 979px) {

}

@media screen and (max-width: 767px) {

}

@media screen and (max-width: 480px) {

}

@media screen and (max-device-width: 480px) {
	
}







