body{
	margin: 0px;
	padding: 0px;
	font-family: '微軟正黑體',sans-serif;
	font-size: 1em;
	overflow-x: hidden;
	font-weight: 100 !important;
	background:url("../images/Bg.jpg") top center no-repeat;
	background-size: cover;
}

input[type="button"]:active {
	outline: none;
	border: none;
}

*:focus {
	outline:0 !important;
}

a:hover{
	text-decoration: none;
}

h1{
	font-size: 40px;
	margin-bottom: 10px !important;
}

h2{
	font-size: 30px;
	margin-bottom: 10px !important;
}

h3{
	font-size: 20px;
	margin-bottom: 10px !important;
}

.clear{
	clear: both;
}


.wrapper{
	position: relative;
	width: 90%;
	margin: 0 auto;
	overflow: hidden;
}

#header{
	width: 100%;
	height: auto;
	padding-bottom: 35px;
	padding-top: 25px;
	border-top:#00b1a0 10px solid;
	text-align:center;
	border-bottom: #999 1px solid;
}


#logo{
	width: 300px;
	position: relative;
	left:38px;
}

#mainMenu{
	float: left;
	width:calc( 100% - 300px);
	height: auto;
	text-align:right;
	margin-top: 10px;
}

#mainMenu li{
	display: inline-block;
	width: 85px;
	height: 22px;
	font-size: 0px;
	margin-left: 25px;
	margin-bottom:25px;
	transition: .2s;
}




#footer{
	background: url("../images/footer_bg.gif");
	background-size: 50px;
	color: #666;
	padding-top: 15px;
	border-bottom:#00b1a0 10px solid;
	box-shadow: 0 0 5px rgba(0,0,0,0.25);
}

#footer .wrapper{
	padding:15px 0;
	border-top: #999 1px solid;
	text-align: center;
}

#contactList{
	line-height: 20px;
	text-align:text;
}


#footerLogo{
	position: relative;
	right:50px;
	height: 50px;
	margin: 25px 0;
}

#copyright{
	line-height: 20px;
}


@media screen and (min-width: 1200px){

}

@media screen and (min-width: 768px) and (max-width: 979px) {

}

@media screen and (max-width: 767px) {

}

@media screen and (max-width: 480px) {


}

@media screen and (max-device-width: 480px) {
	
}







